
#button{
  text-align: center;
  height: 50px;
  width: 5%;
  border: 2px solid black;
  border-radius: 5px;




}
#contact{
  text-align: right;
}


#logo{
  text-align:center;
  background-color: orange;
  margin-top: 5%;

}

#line1{
  background-color: green;
  text-align:center;
  font-style: italic;
  margin-top:5%;
  margin-bottom: 2%;
}
