div {
  float:right;
}
#one{
  height: 50px;
  width: auto;
  border: 2px solid black;
  border-radius: 5px;
  margin: 500px 1000px 50px 50px

}
.contact{
  height:400px;

}

.Name{
  margin: 300px 100px 50px 500px;
  text-align:center;
  font-size: 100px;
}

.line1{
  margin: 300px 1200px 50px 300px;
  text-align:center;
  font-style: italic;
}
